.Container {
    display: flex;
    flex-direction: column;
}

.Main {
    width: 100%;
    height: 100%;
}

.Text {
    width: 100%;
    height: 250px;

    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Text p {
    font-size: 28px;
    font-weight: 600;
    font-style: normal;


}

.Carousel {
    width: 100%;
    height: fit-content;
    background: rgba(0, 0, 0, .7) url('../../assets//images copy/bg-1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 30px 100px;
    border-radius: 5px;
    overflow: hidden;

    background-blend-mode: darken;

}

.CarosuelText {
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    padding: 20px 0px;
    color: white;
}

.Carousels {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

.CarouselMenu {
    display: flex;
    justify-content: space-between;
}

.CardGroup {
    height: 530px;
    flex-wrap: wrap;
    width: 100%;
}

.CarouselMenu {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

}

.CardItem {
    width: 95%;
    height: 470px;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    background-color: white;
    /* padding: 5px; */
    cursor: pointer;
    padding: 8px;
    margin-left: 10px;
    user-select: none;
    transition: .5s;


    /* margin: 0px 10px; */
}

.CardItem:hover .ForImgCard img {
    transform: scale(1.1);

}

.ForImgCard {
    width: 100%;
    height: 50%;
    ;
    overflow: hidden;
}

.ForImgCard img {
    width: 100%;
    height: 100%;
    transition: .5s;
}

.ForTextCard {
    width: 100%;
    height: 50%;
    ;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-content: space-around;
}

.ProductTitle {
    width: 100%;
    text-align: center;

}

.ProductTitle p {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    line-height: 20px;
}

.ProductText {
    width: 100%;

}

.ProductText p {
    font-size: 14px;
    line-height: 18px;
    font-style: normal;
    text-align: center;



}

.ProductBtn {
    width: 100%;
}


.ProductBtn button {
    width: 65%;

    background-color: #0f3460;
    /* background-color: #256471f4; */
    color: white;
    height: 44px;
    font-family: "Monserrant";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    margin: auto;
}

.ProductBtn button:hover {
    background-color: #0F3460;
    opacity: 0.7;

}

.ProductBtn button:active {
    transform: scale(0.98);
    opacity: 0.7;
}

.NextArrow button {
    position: absolute;
    top: 40%;
    z-index: 5;
    right: 25px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    border: 1px dashed black;
    background: #fff;
    transition: all .3s ease-in-out;
    opacity: .5;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 22px;

}

.PrevArrow button {
    position: absolute;
    top: 40%;


    z-index: 5;
    left: 25px;

    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    border: 1px dashed black;
    background: #fff;
    transition: all .3s ease-in-out;
    opacity: .5;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;

}

#forwidt {
    transition: .4s;
}

#forwidt:hover {}

#forwidt:hover img {
    transform: scale(1.009);

}

@media (min-width:768px) and (max-width:1023px) {
    .ProductTitle {
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        line-height: 20px;

    }

    .ProductText p {
        font-size: 12px;
        line-height: 14px;
        /* font-style: normal; */
        text-align: center;
    }

    .ProductBtn button {
        font-size: 16px;
    }

}

@media (min-width:568px) and (max-width:767px) {

    .Carousel {
        padding: 30px 50px;
    }

    .CarosuelText {
        font-size: 16px;
        font-weight: 300;
        padding: 20px 0px;
        color: white;
    }
}

@media (min-width:390px) and (max-width:567px) {

    .Carousel {
        padding: 30px;
    }

    .CarosuelText {
        font-size: 18px;
        font-weight: 400;
        padding: 20px 0px;
        color: white;
    }
}

@media (max-width:390px) {


    .Carousel {
        padding: 30px 16px;
    }

    .CarosuelText {
        font-size: 16px;
        font-weight: 300;
        padding: 20px 0px;
        color: white;
    }

    .Text {
        font-size: 20px;
        font-weight: 600;
        font-style: normal;
    }

    .ProductBtn button {
        background-color: #0f3460;
        /* background-color: #256471f4; */
        color: white;
        height: 35px;
        width: 100%;
        font-family: "Monserrant";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        border-radius: 5px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        cursor: pointer;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: 0.5s;
        letter-spacing: 2px;
    }

}