.Container {
    display: flex;
    flex-direction: column;
}

.Main {
    width: 100%;
    height: 100%;

    padding: 0px 100px;
}

.BreadcrumbItem {
    padding: 15px 0px;
    margin: 20px 0px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: white;

}

.BreadcrumbItem a {
    background-color: white;
    margin: 0;
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;



}

.BreadcrumbItem a:hover {
    background-color: white;
    color: red;
}


.CardGroup {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    height: fit-content;
    padding: 50px 0px;
    gap: 50px;
}

.Cards {
    width: 30%;
    height: 500px;
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    border: 1px solid #c4c4c4;
}

.ForImg {
    width: 100%;
    height: 250px;
    border-radius: 4px;
    overflow: hidden;


}

.ForImg img {
    width: 100%;
    height: 100%;
    transition: .5s;
    overflow: hidden;
}

.Cards:hover .ForImg img {
    transform: scale(1.1);
    opacity: 0.7
}

.ForText {
    width: 100%;
    height: 45%;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ForTextdate p {
    font-family: 'Aeonik Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #A1A1A1;
}

.ForTextTitle p {
    font-family: 'Aeonik Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 28px;
    padding: 20px 20px;
    text-align: center;

    color: #000000;
}

.ForTextBtn {
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.ForTextBtn button {
    width: 70%;
    height: 44px;
    border-radius: 5px;
    background-color: #16778B;
    color: white;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
}

.ForTextBtn button:hover {
    opacity: 0.8
}