.Container {
    display: flex;
    flex-direction: column;
}

.Main {
    width: 100%;
    height: 100%;

    padding: 0px 100px;
    color: #0f3460;
}

.BreadcrumbItem {
    padding: 15px 0px;
    margin: 20px 0px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: white;

}

.BreadcrumbItem a {
    background-color: white;
    margin: 0;
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;



}

.BreadcrumbItem a:hover {
    background-color: white;
    color: red;
}

.CardGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.CardGroup {
    display: flex;
    height: fit-content;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px 0px;
    row-gap: 20px;
}

.CardItem {
    width: 23%;
    height: 470px;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    /* padding: 5px; */
    cursor: pointer;
    padding: 8px;
    user-select: none;


    /* margin: 0px 10px; */
}


.ForImgCard {
    width: 100%;
    height: 50%;
    border-radius: 5px;
    overflow: hidden;
}

.ForImgCard img {
    width: 100%;
    height: 100%;
    transition: .5s;
}

.CardItem:hover img {
    transform: scale(1.1);
}




.ForTextCard {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    padding: 0px 10px;

}

.ProductTitle {
    width: 100%;
    text-align: center;

}

.ProductTitle p {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    line-height: 20px;
}

.ProductText {
    width: 100%;

}

.ProductText p {
    font-size: 16px;
    line-height: 18px;
    font-style: normal;
    text-align: center;



}

.ProductBtn {
    width: 100%;

}


.ProductBtn button {
    background-color: #0f3460;
    /* background-color: #256471f4; */
    color: white;
    height: 44px;
    width: 100%;
    font-family: "Monserrant";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
}

.ProductBtn button:hover {
    background-color: #0F3460;
    opacity: 0.7;

}

.ProductBtn button:active {
    transform: scale(0.98);
    opacity: 0.7;
}



@media (min-width:768px) and (max-width:1023px) {
    .CardItem {
        width: 33%;
    }
}

@media (min-width:568px) and (max-width:767px) {
    .Main {
        padding: 0px 16px;
    }

    .CardItem {
        width: 33%;
        padding: 4px;

    }

    .ProductTitle p {
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        line-height: 20px;
    }

    .ProductText p {
        font-size: 13px;
    }

    .ProductBtn button {
        background-color: #0f3460;
        /* background-color: #256471f4; */
        color: white;
        height: 40px;
        width: 100%;
        font-family: "Monserrant";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        border-radius: 5px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        cursor: pointer;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: 0.5s;
        letter-spacing: 4px;
    }

}

@media (min-width:390px) and (max-width:567px) {
    .Main {
        padding: 0px 16px;
    }

    .CardItem {
        width: 48%;
        padding: 4px;

    }

    .ProductTitle p {
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        line-height: 20px;
    }

    .ProductText p {
        font-size: 13px;
    }

    .ProductBtn button {
        background-color: #0f3460;
        /* background-color: #256471f4; */
        color: white;
        height: 40px;
        width: 100%;
        font-family: "Monserrant";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        border-radius: 5px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        cursor: pointer;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: 0.5s;
        letter-spacing: 4px;
    }

}

@media (max-width:390px) {
    .Main {
        padding: 0px 16px;
    }

    .CardItem {
        width: 100%;
        padding: 4px;

    }

    .ProductTitle p {
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        line-height: 20px;
    }

    .ProductText p {
        font-size: 13px;
    }
}