.details {
  width: 100%;
  background: #e4e1e1;
  border: 1px solid red;
  padding: 0px 100px;
  margin: auto;

}

.BreadcrumbItem {
  padding: 15px 0px;
  margin: 20px 0px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: white;

}

.BreadcrumbItem a {
  background-color: white;
  margin: 0;
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;



}

.BreadcrumbItem a:hover {
  background-color: white;
  color: red;
}

.containerrr {
  border: 1px solid green;
  margin: 50px 0px;
  padding: 30px 10px;
  height: fit-content;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.ContainerItem {
  width: 100%;
  display: flex;
}

.detail-left {
  width: 40%;
  /* height: 500px; */
  /* background: lawngreen; */
}

.detail-right {
  width: 60%;
  height: 600px;
}

.produs-img {
  max-width: 80%;
  height: 380px;
  padding: 20px;
  /* background: red; */
  margin: auto;
  margin-bottom: 22px;
  border: 1px solid #b9b6b6;
}

.galery {
  width: 80%;
  margin: auto;
}

.produs-img img {
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: cover;
  margin-top: 20px;
}

.card-img {
  width: 80%;
  height: 80px;
  margin: 10px auto;
}

.card-img img {
  width: 100%;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
}

.slick-prev:before,
.slick-next:before {
  font-size: 25px !important;
  color: black !important;
  opacity: 1 !important;
}

.detail-right h1 {
  text-align: center;
  margin-top: 70px;
  font-size: 24px;
}

.detail-right p {
  width: 90%;
  margin: auto;
  line-height: 28px;
}

.detail-right p span {
  font-weight: bolder;
}

.calculator {
  width: 90%;
  margin: 40px 35px;
}

.icon-calc {
  /* padding: 5px; */
  color: #54c3cc;
  background: #31353d;
  letter-spacing: 1px;
}

.calculator button i {
  padding: 5px;
}

.calc {
  margin-top: 20px;
  width: 300px;
  height: 44px;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  border: 2px solid #c3c3c3;
  /* background: red; */
}

.calc input {
  width: 30%;
  /* height: 35px; */
  /* margin: auto; */
  border: none;
  outline: none;
  /* border-radius: 8px; */
}

.calc span {
  text-align: center;
  padding: 3px 8px;
  font-size: 16px;
  line-height: 25px;
  background: #eef4ff;
  color: #99a3ba;
}

.Result {
  width: 100%;
  padding: 20px;
  /* height: 200px; */
  /* border: 1px solid red; */
}

.calcul {
  margin-top: 20px;
}

.calcul a {
  text-decoration: none;
  color: #14b6c5;
}

.calcul h5 {
  margin-top: 20px;
}

.result-calc {
  width: 80%;
  border: 1px solid #4444443f;
  /* height: 50px; */
  /* background: #71c5cd; */
  display: flex;
}

.resul {
  display: flex;
}

.resul p {
  margin-right: 30px;
  /* padding: 8px;  */
}

.product-about {
  width: 90%;
  word-spacing: 1px;
  font-size: 16px;
  /* font-weight: 400; */
}

.video-youtub {
  width: 90%;
  height: 340px;
  z-index: 100;
  border: 1px solid red;
  /* margin-top: 50px; */
  margin: 50px 10px;
}

.video-youtub iframe {
  width: 100%;
  height: 100%;
}

.CarosuelGroup {
  border: 1px solid red;
  margin-top: 300px;
}
/* ---------------------------- */



.CardGroup {
  display: flex;
  height: 530px;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.CardItem {
  width: 95% !important;
  height: 470px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  /* padding: 5px; */
  cursor: pointer;
  margin-left: 10px;
  padding: 8px;
  user-select: none;


  /* margin: 0px 10px; */
}

.CardList {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ForImgCard {
  width: 100%;
  height: 50%;
  border-radius: 5px;
  overflow: hidden;
}

.ForImgCard img {
  width: 100%;
  height: 100%;
  transition: .5s;
}

.CardItem:hover img {
  transform: scale(1.1);
}




.ForTextCard {
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  padding: 0px 10px;

}

.ProductTitle {
  width: 100%;
  text-align: center;

}

.ProductTitle p {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 20px;
}

.ProductText {
  width: 100%;

}

.ProductText p {
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  text-align: center;



}

.ProductBtn {
  width: 100%;

}


.ProductBtn button {
  background-color: #0f3460;
  /* background-color: #256471f4; */
  color: white;
  height: 44px;
  width: 100%;
  font-family: "Monserrant";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
}

.ProductBtn button:hover {
  background-color: #0F3460;
  opacity: 0.7;

}

.ProductBtn button:active {
  transform: scale(0.98);
  opacity: 0.7;
}

/* -------slider */

.NextArrow button {
  position: absolute;
  top: 40%;
  z-index: 5;
  right: 25px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  border: 1px dashed black;
  background: #fff;
  transition: all .3s ease-in-out;
  opacity: .5;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 22px;

}

.PrevArrow button {
  position: absolute;
  top: 40%;


  z-index: 5;
  left: 25px;

  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  border: 1px dashed black;
  background: #fff;
  transition: all .3s ease-in-out;
  opacity: .5;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;

}

#forwidt {
  transition: .4s;
}

#forwidt:hover {}

#forwidt:hover img {
  transform: scale(1.009);

}

.SliderGroup {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* ---------------------------- */



















.related-products {
  width: 100%;
  height: 500px;
  margin: auto;

  background: #fff;
}

.color-catolog {
  margin-top: 70px;
  width: 100%;
  /* height: 200px; */
  /* background: blue; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding-bottom: 40px;
  border: 1px solid #b9b6b6;
  /* margin: auto; */
}

.color-galery {
  /* width: 30%; */
  margin: auto;
  margin-top: 25px;
}

.color-img {
  width: 100px;
  height: 80px;
  background: #14b6c5;
}

.color-img img {
  width: 100%;
  height: 100%;
}

.color-img p {
  text-align: center;
  font-size: 14px;
}

.related-box-details {
  /* width: 50px; */
  padding: 20px 15px;
  display: block;
  margin: 60px auto;
  box-shadow: 10px 5px 40px 20px darken(#341cac, 5%);
  transition: 0.25s;
  /* padding: 10px; */
  /* border: 1px solid #444; */
  /* margin: 10px; */
}

.related-box-details .related-img-box {
  width: 100%;
  height: 200px;
  background: #31353d;
}

.related-box-details .related-img-box img {
  width: 100%;
  height: 100%;
}

.shodow {
  width: 100%;
  height: 400px;
  background: #fff;
  border: 1px solid #dcd6d6;
}

.shodow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.4s;
}

.related-text-box h1 {
  font-size: 28px;
  margin: 20px;
}

.related-text-box p {
  font-size: 15px;
  margin: 20px;
}

.related-text-box button {
  font-size: 15px;
  margin-left: 20px;
}