.Box {
    width: 100%;
    height: 90vh;
}

.Box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.NextArrow button {
    position: absolute;
    top: 40%;
    z-index: 5;
    right: 25px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    border: 1px dashed black;
    background: #fff;
    transition: all .3s ease-in-out;
    opacity: .5;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 22px;

}

.PrevArrow button {
    position: absolute;
    top: 40%;


    z-index: 5;
    left: 25px;

    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    border: 1px dashed black;
    background: #fff;
    transition: all .3s ease-in-out;
    opacity: .5;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;

}

#forwidt {
    transition: .4s;
}

#forwidt:hover {}

#forwidt:hover img {
    transform: scale(1.009);

}

.CarosuelItems {

    width: 100%;
    height: 200px;
    position: relative;
    top: -50%;
    z-index: 2222;

}

.CarosuelCard {
    width: 500px;
    height: 100%;
    margin: auto;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    /* border: 1px solid #f1f1f1; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    border-radius: 5px;

}

.Cartext1 {
    width: 100%;
}

.Cartext1 p {
    font-size: 32px;
    font-style: normal;
    line-height: 25px;
}

.Cartext1 b {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.Cartext2 {
    width: 100%;
}

.Cartext2 p {
    font-size: 22px;
    line-height: 25px;
}

.Cartext3 {
    width: 100%;
}

.CarosuelCard button {
    background-color: #0f3460;
    /* background-color: #256471f4; */
    color: white;
    height: 44px;
    width: 200px;
    font-family: "Monserrant";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.3s;
    letter-spacing: 4px;
}

.CarosuelCard button:hover {
    background-color: #0f3460;
}

.CarosuelCard button:active {
    transform: scale(0.98);
    opacity: 0.7;
}

@media (min-width:768px) and (max-width:1023px) {
    .CarosuelItems {
        top: -70%;
    }

}

@media (min-width:568px) and (max-width:767px) {
    .CarosuelItems {
        width: 100%;
        top: -70%;
    }

    .CarosuelCard {
        width: 70%;
    }

    .Cartext1 {
        width: 100%;
    }

    .Cartext1 p {
        font-size: 28px;
        font-style: normal;
        line-height: 25px;
    }

    .Cartext1 b {
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .Cartext2 {
        width: 100%;
    }

    .Cartext2 p {
        font-size: 20px;
        line-height: 25px;
    }

    .Cartext3 {
        width: 100%;
    }
}

@media (min-width:390px) and (max-width:567px) {
    .CarosuelItems {
        width: 100%;
        top: -70%;
    }

    .CarosuelCard {
        width: 70%;
        padding: 15px 10px;
    }

    .Cartext1 p {
        font-size: 22px;
        line-height: 20px;
    }

    .Cartext1 b {
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .Cartext2 p {
        font-size: 16px;
        line-height: 18px;
    }
}

@media (max-width:390px) {

    .CarosuelItems {
        width: 100%;
        top: -70%;
    }

    .CarosuelCard {
        width: 100%;
        padding: 15px 10px;
    }

    .Cartext1 p {
        font-size: 18px;
        line-height: 20px;
    }

    .Cartext1 b {
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    
    .Cartext2 p {
        font-size: 16px;
        line-height: 18px;
    }
}